.text-content() {
  line-height: 1.7em;

  font-size: 17px;
}

.bi-blogpost.single {

  .thanks {
    margin-bottom: 30px;
  }

  .figure {
    text-align: center;
    margin: 30px 0;

    img {
      max-width: 90%;
      box-shadow: 0 0 2px #666;
    }

    &.no-border {
      img {
        box-shadow: none;
      }
    }
  }

  pre {
    margin: 20px 0;
  }
}

.bi-text {
  .text-content();
}

.bi-blogpost {

  .content {
    .text-content();

    margin: 25px auto;
  }

  .figure {

    .caption {
      color: #666;
      font-size: 0.85em;
      margin-top: 5px;
    }
  }

  h1 {
    margin-top: 50px;
    margin-bottom: 15px;

    line-height: 1.3em;

    a {
      text-decoration: none;
      color: @text-color;
    }
  }

  .read-more {
    font-size: 14px;
  }

  .read-more a,
  .author {
    text-decoration: none;
  }

  .meta {
    font-size: small;
  }
}

.bi-blog-footer {
  margin: 20px 0;
}


@media (max-width: 768px) {

  .bi-blogpost.single {

    .figure {

      img {
        max-width: 100%;
      }
    }
  }
}


.releases {
  margin-top: 15px;
}

.release-badge {

  display: inline-block;
  margin: -1px 0;

  font-size: small;

  &:hover,
  &:active {
    text-decoration: none;

    .project {
      background: #489d12;
    }

    .version {
      background: #6d6363;
    }
  }

  .project,
  .version {
    padding: 2px 6px;
  }

  .project {
    background: lighten(desaturate(#489d12, 20%), 10%);
    color: white;
    border-radius: 3px 0 0 3px;
  }

  .version {
    background: lighten(desaturate(#6d6363, 20%), 10%);
    color: white;
    border-radius: 0 3px 3px 0;
  }

  &:not(.with-version) {
    .project {
      border-radius: 3px;
    }
  }
}