---
title: About
description: 'Learn about the project, its creators, origins and BPMN.'
---

<div class="row bi-text">

  <div class="col-md-12">
    <h1 class="page-header">Team</h1>
    <p class="lead">
      bpmn.io is built by a small core team and supported by the Camunda community and contributors.
    </p>

    <div class="list-group bi-team">
      <div class="list-group-item">
        <a class="team-member" href="https://github.com/barmac">
          <img src="https://avatars0.githubusercontent.com/u/28307541?s=460&v=4" alt="@barmac">
          <strong>Maciej Barelkowski</strong> <small>@barmac</small>
        </a>
      </div>

      <div class="list-group-item">
        <a class="team-member" href="https://github.com/nikku">
          <img src="https://avatars2.githubusercontent.com/u/58601?s=460&v=4" alt="@nikku">
          <strong>Nico Rehwaldt</strong> <small>@nikku</small>
        </a>
      </div>

      <div class="list-group-item">
        <a class="team-member" href="https://github.com/pinussilvestrus">
          <img src="https://avatars2.githubusercontent.com/u/9433996?s=460&v=4" alt="@pinussilvestrus">
          <strong>Niklas Kiefer</strong> <small>@pinussilvestrus</small>
        </a>
      </div>

      <div class="list-group-item">
        <a class="team-member" href="https://github.com/philippfromme">
          <img src="https://avatars0.githubusercontent.com/u/7633572?s=460&v=4" alt="@philippfromme">
          <strong>Philipp Fromme</strong> <small>@philippfromme</small>
        </a>
      </div>

      <div class="list-group-item">
        <a class="team-member" href="https://github.com/MaxTru">
          <img src="https://avatars2.githubusercontent.com/u/42800119?s=460&v=4" alt="@MaxTru">
          <strong>Maximilian Trumpf</strong> <small>@MaxTru</small>
        </a>
      </div>

      <div class="list-group-item">
        <a class="team-member" href="https://github.com/smbea">
          <img src="https://avatars.githubusercontent.com/u/25825387?v=4" alt="@smbea">
          <strong>Beatriz Mendes</strong> <small>@smbea</small>
        </a>
      </div>

      <div class="list-group-item">
        <a class="team-member" href="https://github.com/marstamm">
          <img src="https://avatars.githubusercontent.com/u/21984219?v=4" alt="@marstamm">
          <strong>Martin Stamm</strong> <small>@marstamm</small>
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <h1 class="page-header">Former Members</h1>

    <p class="lead">These people did significant contributions to our project in the past.</p>

    <div class="list-group bi-team">
      <div class="list-group-item">
        <a class="team-member" href="https://github.com/oguzeroglu">
          <img src="https://avatars2.githubusercontent.com/u/15003836?s=400&v=4" alt="@oguzeroglu">
          <strong>Oğuz Eroğlu</strong> <small>@oguzeroglu</small>
        </a>
      </div>

      <div class="list-group-item">
        <a class="team-member" href="https://github.com/ISO50">
          <img src="https://avatars3.githubusercontent.com/u/6464494?s=460&v=4" alt="@ISO50">
          <strong>Jörg</strong> <small>@ISO50</small>
        </a>
      </div>

      <div class="list-group-item">
        <a class="team-member" href="https://github.com/pedesen">
          <img src="https://avatars3.githubusercontent.com/u/2543743?s=460&v=4" alt="@pedesen">
          <strong>Patrick Dehn</strong> <small>@pedesen</small>
        </a>
      </div>

      <div class="list-group-item">
        <a class="team-member" href="https://github.com/ricardomatias">
          <img src="https://avatars3.githubusercontent.com/u/8850708?s=460&v=4" alt="@ricardomatias">
          <strong>Ricardo Matias</strong> <small>@ricardomatias</small>
        </a>
      </div>

      <div class="list-group-item">
        <a class="team-member" href="https://github.com/vkatushenok">
          <img src="https://avatars0.githubusercontent.com/u/2331533?s=460&v=4" alt="@vkatushenok">
          <strong>Vladimirs Katusenoks</strong> <small>@vkatushenok</small>
        </a>
      </div>

      <div class="list-group-item">
        <a class="team-member" href="https://github.com/azeghers">
          <img src="https://avatars0.githubusercontent.com/u/42282939?s=460&v=4" alt="@azeghers">
          <strong>Alexis Zeghers</strong> <small>@azeghers</small>
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <h1 class="page-header">History</h1>
    <p class="lead">
      Once initiated by <a href="https://camunda.com">Camunda</a>, a leader in process automation, and Zalando, a German e-commerce champion, bpmn.io provides tools to better communicate process and decision knowledge.
    </p>

    <p>
      <a href="http://camunda.com">Camunda</a> is a company with a long track record in BPM. For more than five years we have been helping customers all over the world to apply business process management (BPM) in an effective way. In 2013 we launched <a href="http://camunda.org">Camunda</a>, an open source, extensible platform for business process automation with BPMN 2.0 and Java.
    </p>

    <p>
      An important part of our BPM vision is <a href="http://www.bpmn.org/">BPMN 2.0</a>, an established global standard for modelling business processes. First of all, it allows you to <a href="http://camunda.org/bpmn/tutorial.html">visualize business processes</a>, thus making it easier to capture, discuss and change them. Then again, it also defines a standardized file format that makes it possible to exchange modeled diagrams freely across compliant modelling tools.
    </p>

    <p>
      We believe that the full potential of BPMN and other modeling dialects can only be unleashed if people get great tooling that is free.

      <strong>Those who model</strong> should be able to create and share BPMN 2.0 processes with others &mdash; on the web and without restrictions.

      <strong>Those who develop</strong> should be able to visualize processes in their applications and enrich them with the data that is important for application users.
    </p>

    <p>
      We've initiated <a href="http://bpmn.io">bpmn.io</a> as an effort to provide the best BPMN tools possible:
      <a href="https://github.com/bpmn-io">Open source</a> and free to use for everyone who changes people and organizations through BPMN.
    </p>
  </div>

  <div class="col-md-12">
    <h1 class="page-header">More about BPMN</h1>
    <p class="lead">
      Resources that help you to better understand process modelling with BPMN.
    </p>

    <ul>
      <li><a href="http://camunda.org/bpmn/tutorial.html">Basic BPMN 2.0 tutorial</a></li>
      <li><a href="http://www.camunda.org/bpmn/reference.html">Reference of the all BPMN 2.0 elements</a></li>
      <li><a href="http://www.camunda.org/bpmn/examples.html">Advanced BPMN 2.0 examples and style guide</a></li>
    </ul>
  </div>
</div>
