---
title: Imprint
---

<div class="row">
  <div class="col-md-12">

    <h2 class="page-header">
      This site is operated by
    </h2>

    <p>
      <address>
        camunda services GmbH<br/>
        Zossener Stra&szlig;e 55-58<br/>
        10961 Berlin
      </address>
    </p>

    <p>
      Amtsgericht Charlottenburg: HRB 113230 B<br/>
      USt.-IdNr. DE 259 411 084<br/>
      Managing Director: Jakob Freund, Bernd R&uuml;cker
      <a href="mailto:info@camunda.com">info@camunda.com</a>
    </p>

    <p>
      Responsible according to &sect; 6 MdStV and contact person for press inquiries:
    </p>

    <p>
      Jakob Freund, Zossener Stra&szlig;e 55-58, 10961 Berlin<br/>
      <a href="mailto:jakob.freund@camunda.com">jakob.freund@camunda.com</a>
    </p>

    <p>
      Contact for questions regarding data protection:
    </p>

    <p>
      Bernd R&uuml;cker, Zossener Stra&szlig;e 55-58, 10961 Berlin<br/>
      <a href="mailto:bernd.ruecker@camunda.com">bernd.ruecker@camunda.com</a>
    </p>


    <h2>Copyright</h2>

    <p>
      The design of this page as well as any text and graphics are copyright &copy; camunda services GmbH.
    </p>


    <h2>Disclaimer</h2>

    <p>
      Despite careful control we assume no liability for the content of external links. Should you find content to which we link that is of dubious nature, we ask you to promptly notify us at <a href="mailto:info@camunda.com">info@camunda.com</a>.
    </p>

  </div>
</div>