---
title: Project roadmap
description: 'Things we plan to work on'
---

<div class="row">

  <div class="col-md-12">
    <div class="h1 page-header">Future Topics</div>

    <p>
      The following lists a number of topics we plan to work on in the future.
    </p>

    <ul class="list-group" style="margin-top: 20px">
      <li class="list-group-item">
        <span class="badge">BPMN</span>

        BPMN Modeling Improvements
      </li>
      <li class="list-group-item">
        <span class="badge">DMN</span>

        DMN Modeling Improvements
      </li>
      <li class="list-group-item">
        <span class="badge">Forms</span>

        Form Modeling Improvements
      </li>
      <li class="list-group-item">
        Editor intelligence (variables + FEEL editing)
      </li>
      <li class="list-group-item">
        Improved Documentation
      </li>
    </ul>

    <p>
      Have a look on our <a href="https://tasks.bpmn.io/board">task board</a> to learn what we are working on right now.
    </p>

    <p>
      Anything important we should put on our radar? Give us feedback in our <a href="https://forum.bpmn.io">project forum</a>.
    </p>

  </div>
</div>
