---
title: Project Health
description: How does the source code feel?
---

<div class="row">

  <div class="col-md-12">
    <h1 class="page-header">Project Status</h1>

    <div class="list-group bi-projects">

      <div class="list-group-item">
        <a class="project" href="https://github.com/bpmn-io/diagram-js">
          diagram-js
        </a>

        <a class="status" href="https://travis-ci.org/bpmn-io/diagram-js">
          <img src="https://travis-ci.org/bpmn-io/diagram-js.svg?branch=master" alt="diagram-js">
        </a>
      </div>

      <div class="list-group-item">
        <a class="project" href="https://github.com/bpmn-io/bpmn-js">
          bpmn-js
        </a>

        <a class="status" href="https://travis-ci.org/bpmn-io/bpmn-js">
          <img src="https://travis-ci.org/bpmn-io/bpmn-js.svg?branch=master" alt="bpmn-js">
        </a>
      </div>

      <div class="list-group-item">
        <a class="project" href="https://github.com/bpmn-io/bpmn-moddle">
          bpmn-moddle
        </a>

        <a class="status" href="https://travis-ci.org/bpmn-io/bpmn-moddle">
          <img src="https://travis-ci.org/bpmn-io/bpmn-moddle.svg?branch=master" alt="bpmn-moddle">
        </a>
      </div>
    </div>
  </div>
</div>