---

title: Project Status
description: How do we feel?
layout: bare.hbs

---

<div class="container">
  <div class="row">

    <div class="col-md-12">
      <h1 class="page-header">Code Status</h1>

      <div class="list-group bi-projects">

        <div class="list-group-item">
          <a class="project" href="https://github.com/bpmn-io/bpmn-js">
            bpmn-js
          </a>

          <a class="status" href="https://travis-ci.com/bpmn-io/bpmn-js">
            <img src="https://travis-ci.com/bpmn-io/bpmn-js.svg?branch=master" alt="bpmn-js">
          </a>
        </div>

        <div class="list-group-item">
          <a class="project" href="https://github.com/bpmn-io/bpmn-js-integration">
            bpmn-js-integration
          </a>

          <a class="status" href="https://travis-ci.com/bpmn-io/bpmn-js-integration">
            <img src="https://travis-ci.com/bpmn-io/bpmn-js-integration.svg?branch=master" alt="bpmn-js-integration">
          </a>
        </div>

        <div class="list-group-item">
          <a class="project" href="https://github.com/bpmn-io/bpmn-moddle">
            bpmn-moddle
          </a>

          <a class="status" href="https://travis-ci.com/bpmn-io/bpmn-moddle">
            <img src="https://travis-ci.com/bpmn-io/bpmn-moddle.svg?branch=master" alt="bpmn-moddle">
          </a>
        </div>

        <div class="list-group-item">
          <a class="project" href="https://github.com/bpmn-io/bpmn-js-cli">
            bpmn-js-cli
          </a>

          <a class="status" href="https://travis-ci.com/bpmn-io/bpmn-js-cli">
            <img src="https://travis-ci.com/bpmn-io/bpmn-js-cli.svg?branch=master" alt="bpmn-js-cli">
          </a>
        </div>

        <div class="list-group-item">
          <a class="project" href="https://github.com/bpmn-io/diagram-js">
            diagram-js
          </a>

          <a class="status" href="https://travis-ci.com/bpmn-io/diagram-js">
            <img src="https://travis-ci.com/bpmn-io/diagram-js.svg?branch=master" alt="diagram-js">
          </a>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="container">
  <footer class="bi-footer muted" role="contentinfo">

      <ul class="footer-links muted">
        <li><a href="http://bpmn.io">bpmn.io</a></li>
        <li>·</li>
        <li><a href="https://github.com/bpmn-io">source code</a></li>
      </ul>

    </div>
  </footer>
</div>
