---
title: Terms of Use
description: 'Our terms for using the bpmn.io demo application'
---

<div class="row">

  <div class="col-md-12">
    <h1 class="page-header">Terms of Use</h1>

    <p>
      The following terms apply for using the bpmn.io demo application at <a href="http://demo.bpmn.io">demo.bpmn.io</a>
    </p>

    <ul>
      <li>
        The service is free.
      </li>

      <li>
        There is no guarantee on the availability of this service.
      </li>

      <li>
        Use of the service is at your own sole risk on a "as is" basis.
      </li>

      <li>
        There is no warranty of any kind of features of this service.
      </li>

      <li>
        As a user you are obliged to obey applicable laws as well as all rights of third parties in the use of this service.
      </li>

      <li>
        If your are using the functionality for embedding your process models via JavaScript, your data is stored unencrypted in our database.
        We have the right to delete these process models at any time.
      </li>
    </ul>

    <p>
      bpmn.io follows the <a href="https://camunda.com/legal/privacy">Camunda privacy policy</a> which applies accordingly.
    </p>
  </div>
</div>