<h2>Brought to you by Camunda</h2>

<p class="lead">
  <a href="{{ relative page.dest "dist/about" }}">The bpmn.io project</a> is brought to you by the makers of the Camunda Platform.
</p>

<p class="lead">
  If you are looking to create BPMN diagrams, we encourage you to <a href="https://accounts.cloud.camunda.io/signup?uc=signup&utm_medium=referral&utm_source=bpmn.io">sign-up for a free Camunda Platform account</a>.
</p>