<div class="bio-callout bio-callout-danger">
  <h4>April Fools Notice</h4>
  <p>
    This post is a <a href="https://en.wikipedia.org/wiki/April_Fools%27_Day">joke</a> and features announced are <strong>not part of our mid-term planing and/or official releases</strong>. You still think we mentioned something useful? Do not hesitate to give us feedback via <a href="https://twitter.com/bpmn_io">Twitter</a> or <a href="https://forum.bpmn.io">our project forums</a>.
  </p>
</div>