---
component: footer
---

<footer class="bi-footer" role="contentinfo">
  <div class="container">

    <p>
      Follow <a href="https://twitter.com/bpmn_io">@bpmn_io</a>.
    </p>

    <p>
      bpmn.io is a part of <a href="http://camunda.org">camunda BPM</a> and brought to you by <a href="http://camunda.com">camunda</a> and <a href="http://tech.zalando.com/">Zalando</a>.
    </p>

    <p>
      Site created with <a href="http://assemble.io/">Assemble</a> and <a href="http://getbootstrap.com">Bootstrap</a>.
    </p>

    <ul class="footer-links muted">
      <li><a href="https://github.com/bpmn-io">GitHub</a></li>
      <li>路</li>
      <li><a href="{{relative page.dest "dist/about/"}}">About</a></li>
      <li>路</li>
      <li><a href="http://camunda.com/legal/imprint.php">Imprint</a></li>
      <li>路</li>
      <li><a href="http://camunda.com/legal/privacy.php">Privacy Statement</a></li>
      {{!--
      <li>路</li>
      <li><a href="http://blog.bpmn.io">Blog</a></li>
       --}}
    </ul>
  </div>
</footer>