---
component: footer
---

<footer class="bi-footer" role="contentinfo">
  <div class="container">

    <p>
      Follow <a href="https://twitter.com/bpmn_io">@bpmn_io</a>.
    </p>

    <p>
      bpmn.io is a part of <a href="http://camunda.org">camunda BPM</a> and brought to you by <a href="http://camunda.com">camunda</a> and <a href="http://tech.zalando.com/">Zalando</a>.
    </p>

    <p>
      Site created with <a href="http://assemble.io/">Assemble</a> and <a href="http://getbootstrap.com">Bootstrap</a>.
    </p>

    <ul class="footer-links muted">
      <li><a href="https://github.com/bpmn-io">GitHub</a></li>
      <li>·</li>
      <li><a href="{{relative page.dest "dist/blog/"}}">Blog</a></li>
      <li>·</li>
      <li><a href="{{relative page.dest "dist/about/"}}">About</a></li>
      <li>·</li>
      <li><a href="http://demo.bpmn.io">Demo</a></li>
      <li>·</li>
      <li><a href="{{relative page.dest "dist/legal/imprint.html"}}">Imprint</a></li>
      <li>·</li>
      <li><a href="{{relative page.dest "dist/legal/privacy.html"}}">Privacy Policy</a></li>
    </ul>
  </div>
</footer>