---
component: footer
---

<footer class="bi-footer" role="contentinfo">
  <div class="container">

    <p>
      Created by <a href="http://camunda.com">camunda</a> and <a href="http://www.zalando.com/">Zalando</a>
      as part of <a href="http://camunda.org">camunda BPM</a>.
    </p>
    
    <ul class="footer-links muted">
      {{!-- 
      <li><a href="https://github.com/bpmn-io">GitHub</a></li>
      <li>·</li>
       --}}
      <li><a href="{{relative page.dest "dist/about/"}}">About</a></li>
      {{!--
      <li>·</li>
      <li><a href="http://blog.bpmn.io">Blog</a></li>
       --}}
    </ul>
  </div>
</footer>