<style>
.hiring-banner {
  background: #fefcbf;
  padding: 40px 20px;
  margin: 0;
  font-size: 18px;
  border-bottom: solid 1px #c0bf87;
  text-align: center;
}

.hiring-banner a {
  font-weight: bold;
}
</style>

<!-- hiring banner -->

<div class="hiring-banner">
  <a href="{{relative page.dest "dist/jobs"}}">Join our team</a> and build modeling tools people <img class="emoji" src="https://cdn.jsdelivr.net/gh/twitter/twemoji@14.0.2/assets/svg/2764.svg" alt="heart" title="love" />.
</div>