{{#markdown}}

<p style="border-top: dotted 1px #CCC; margin-top: 40px; padding-top: 20px">
Are you passionate about JavaScript, modeling and the web?

<br />

[Join Camunda](https://camunda.com/career/) and build modeling tools people <img class="emoji" src="https://twemoji.maxcdn.com/2/svg/2665.svg" alt="heart" title="love and passion">.
</p>

{{/markdown}}
