{{#markdown}}

<p style="border-top: dotted 1px #CCC; margin-top: 40px; padding-top: 20px">
Are you passionate about JavaScript, modeling, and the web?

<br />

[Join Camunda](https://camunda.com/career/) and build modeling tools people <img class="emoji" src="https://cdn.jsdelivr.net/gh/twitter/twemoji@14.0.2/assets/svg/2764.svg" alt="heart" title="love and passion">.
</p>

{{/markdown}}
