{{#markdown}}

<p style="border-top: dotted 1px #CCC; margin-top: 20px; padding-top: 20px">
We're hiring! Are you passionate about JavaScript, modeling and the web?

[Join our team](/jobs/) and build modeling tools people <img class="inline" src="{{ assets }}/img/heart.svg" alt="heart" title="love and passion">.
</p>

{{/markdown}}
