<style>
.hiring-banner {
  background: #fefcbf;
  padding: 40px 20px;
  margin: 0;
  font-size: 18px;
  border-bottom: solid 1px #c0bf87;
  text-align: center;
}

.hiring-banner a {
  font-weight: bold;
}
</style>

<!-- hiring banner -->

<div class="hiring-banner">
  <a href="{{ ref '/jobs' }}">Join our team</a> and build modeling tools people <img class="emoji" src="https://twemoji.maxcdn.com/2/svg/2665.svg" alt="heart" title="love" />.
</div>