---
title: Camunda Modeler
layout: none

---

<!DOCTYPE html>
<html>
   <head>
      <title>Camunda Modeler</title>
      <meta http-equiv="refresh" content="1;url=https://camunda.com/platform/modeler" />
      <link rel="stylesheet" href="{{assets}}/css/app.css">
      <link rel="icon" type="image/png" href="{{assets}}/img/favicon.png">
   </head>
   <body>
      <p style="margin: 2em">Redirecting to the <a href="https://camunda.com/platform/modeler/">Camunda Modeler page</a>...</p>
   </body>
</html>