---
title: Jobs
description: 'Work with us and build modeling tools people love'
---

<style>
.job-position {
  margin-top: 40px;
}
</style>

<div class="row bi-text">

  <div class="col-md-12">
    <h1 class="page-header">Open Positions</h1>

    <p class="lead">
      Modeling notations needs great tools. We search for software engineers who help us to build great tooling for BPMN, CMMN and DMN&mdash;open source and with <img class="inline" src="{{ assets }}/img/heart.svg" /> for the web.
    </p>


    <div class="job-position">

      <h2>JavaScript Developer, Graphical Modeling</h2>

      <p>
        You work at <a href="http://camunda.com">Camunda</a> in Berlin as a <a href="http://bpmn.io">bpmn.io</a> core team member to build and improve our modeling tools.
      </p>

      <h3>You contribute</h3>

      <ul>
        <li>Experience in JavaScript development and <a href="https://nodejs.org">node.js</a> library and application development</li>
        <li>Good knowledge in modern web standards and state of the art application development (HTML5, CSS, SVG, ...)</li>
        <li>Passion for usability and interest in user interface design</li>
        <li>Pragmatism and the ability to discuss technology</li>
        <li>Open-Source mindset / track record</li>
        <li>Knowledge about modeling notations and experience with backend technologies is a plus</li>
      </ul>

      <h3>We offer you</h3>

      <ul>
        <li>Work on <a href="http://bpmn.io">bpmn.io</a> as a world wide visible open-source project</li>
        <li>The chance to shape how people communicate process and decision knowledge with BPMN and DMN</li>
        <li>A great workplace, colleagues and cool goodies</li>
        <li><a href="http://camunda.com/about/jobs/">Many more reasons to work with Camunda</a></li>
      </ul>

      <p>
        Let us get to know you each other!
      </p>

      <p>
        <a class="btn btn-primary btn-lg" href="https://camunda.workable.com/jobs/633889/candidates/new">
          Apply via Workable
        </a>
      </p>

    </div>

  </div>
</div>