---
title: Jobs
description: 'Join us and build modeling tools people love'
---

<style>
.job-position {
  padding: 10px 30px 20px;
  margin: 30px 0;
  background: #FEFEFE;
  border: solid 1px #F0F0F0;
  max-width: 800px;
}

.job-position h3 {
  margin-top: 30px;
}

.job-position ul {
  margin-bottom: 30px;
}

.apply-link {
  margin-top: 20px;
}
</style>

<div class="row bi-text">

  <div class="col-md-10">
    <h1 class="page-header">Open Positions</h1>

    <p class="lead">
      Modeling notations need excellent tools. We are on the look out for software engineers who are passionate about building outstanding tooling for BPMN, CMMN and DMN—open source and with <img class="inline" src="{{ assets }}/img/heart.svg" alt="heart" title="love and passion" /> for the web.
    </p>

    <div class="job-position">

      <h2>JavaScript Developer, Graphical Modeling</h2>

      <p>
        Are you passionate about user experience? Do you recognize clean code? Do you value collaboration, feedback and taking on challenging tasks? Work with <a href="http://camunda.com">Camunda</a> in Berlin, Germany as a <a href="http://bpmn.io">bpmn.io</a> core team member to build and improve our modeling tools.
      </p>

      <h3>Your Contribution</h3>

      <ul>
        <li>Experience in JavaScript or Node.js library and application development</li>
        <li>Knowledge of modern web standards (HTML5, CSS, SVG, ...) and state of the art application development</li>
        <li>Real passion for usability and interest in user interface and API design</li>
        <li>Pragmatism and interest to discuss, dissect and apply technology</li>
        <li>The ability to take on complex challenges, together with your team</li>
        <li>Knowledge about modeling notations, experience with backend technologies and an open-source mindset is a plus</li>
      </ul>

      <h3>Our Offer</h3>

      <ul>
        <li>Work on <a href="http://bpmn.io">bpmn.io</a>, a successful open-source project</li>
        <li>Craft how people communicate process and decision knowledge using graphical modeling languages</li>
        <li>Get the freedom and flexibility to design and implement new features</li>
        <li>Take your time to work on your own passion projects, like <a href="https://github.com/philippfromme/camunda-hackdays-generative-music">this one</a></li>
        <li>Meet a wonderful workplace, colleagues and cool goodies</li>
      </ul>

      <p>
        Are you interested in how we work? Take a look at the many good reasons to <a href="https://camunda.com/career/">work at Camunda</a> and checkout our <a href="https://waffle.io/bpmn-io/tasks">daily</a> <a href="https://forum.bpmn.io/">open-source</a> <a href="https://github.com/bpmn-io/bpmn-js">work</a>.
      </p>

      <p>
        We are an equal opportunity employer and value diversity at our company. We do not discriminate on the basis of race, religion, color, national origin, gender, sexual orientation, age, marital status, veteran status, or disability status.
      </p>

      <p>
        Apply and let's get to know each other.
      </p>

      <p class="apply-link">
        <a class="btn btn-primary btn-lg" href="https://camunda.workable.com/jobs/633889/candidates/new">
          Apply via Workable
        </a>
      </p>

    </div>

  </div>
</div>
