---
title: "cmmn-js: CMMN 1.1 viewer and editor"
layout: base.hbs
---


<!-- subhead -->

<div class="bi-masterhead">
  <div class="container">

    <p class="h1">
       cmmn-js
    </p>

    <p class="lead">CMMN 1.1 rendering toolkit and web modeler.</p>

    <div class="actions">
      <a href="http://demo.bpmn.io/cmmn" target="_blank" class="btn btn-xlg btn-outline">Try Online</a>
      <a href="{{relative page.dest "dist/toolkit/cmmn-js/download"}}" class="btn btn-xlg btn-primary">Download</a>
    </div>

    <p class="bi-note">
      Currently {{ site.cmmnjs.version }}. <a href="https://github.com/bpmn-io/cmmn-js">View on GitHub</a>.
    </p>
  </div>
</div>

<!-- features -->

<div class="bi-features">
  <div class="container">
    <h2>Visualize Case Plan Models</h2>
    <p class="lead">
      cmmn-js simplifies creating, embedding and extending CMMN 1.1 diagrams.
      It runs in modern browsers.
      Use it standalone or integrate it into your applications.
    </p>

    <hr class="half-rule">
  </div>
</div>

<div class="bi-features">
  <div class="container">
    <h2>Add CMMN to your Application</h2>

    <p class="lead">
      Embed CMMN diagrams in your application with a few lines of code.
    </p>

    <pre style="text-align: left; margin: 20px auto; padding: 0 25px; background: #F8F8F8; max-width: 500px;">{{#code 'no-pre:html'}}
<script>
  var viewer = new CmmnJS({ container: 'body' });

  viewer.importXML(cmmnXML, function(err) {

    if (err) {
      console.log('error rendering', err);
    } else {
      console.log('we are good!');
    }
  });
</script>
{{/code}}</pre>

    <p class="lead">
      Check out some <a href="https://github.com/bpmn-io/cmmn-js-examples">examples</a> to learn more.
    </p>

    <hr class="half-rule">

  </div>
</div>


<div class="bi-features">
  <div class="container">
    <h2>Make it yours</h2>

    <p class="lead">
      cmmn-js is built for extensibility. Customize and extend the toolkit to suit your needs.
    </p>

    <hr class="half-rule">

  </div>
</div>


<div class="bi-features">
  <div class="container">
    {{> about_teaser }}
  </div>
</div>

<link rel="stylesheet" href="{{ assets }}/js/highlight/css/github.css" />