---
title: Walkthrough 
description: 'Getting into bpmn-js, one step at a time'
layout: bpmnjs.hbs
---

<div class="row">
  <div class="col-md-9">
  
    <!--
    <h1 class="page-header" id="walkthrough">Walkthrough</h1>
    -->
    
    <p class="lead">
      Getting familiar with bpmn-js, one step at a time.
    </p>
    
    <p>
      <em>This document is a work in progress. <a href="">Help us to improve it</a>.</em>
    </p>
    
    <div class="bi-walkthrough">
      {{ md "src/templates/pages/toolkit/bpmn-js/walkthrough/walkthrough.md" }}
    </div>
  </div>
</div>

<link rel="stylesheet" href="{{ assets }}/js/highlight/css/github.css" />