---
title: "dmn-js: DMN viewer and editor"
description: "Learn about dmn-js features and how to embed it."
layout: toolkit.hbs
---


<!-- subhead -->

<div class="bi-masterhead">
  <div class="container">

    <p class="h1">
       dmn-js
    </p>

    <p class="lead">DMN viewer and editor.</p>

    <div class="actions">
      <a href="http://demo.bpmn.io/dmn" target="_blank" class="btn btn-xlg btn-primary">Try Online</a>
      <a href="{{relative page.dest "dist/toolkit/dmn-js/download"}}" class="btn btn-xlg btn-default">Download</a>
    </div>

    <p class="bi-note">
      Currently {{ site.dmnjs.version }}. <a href="https://github.com/bpmn-io/dmn-js">View on GitHub</a>.
    </p>
  </div>
</div>

<!-- features -->

<div class="bi-features">
  <div class="container">
    <h2>Visual Business Rules everywhere</h2>
    <p class="lead">
      View, create and edit DMN decision tables, literal expressions and decision requirement diagrams in your browser.
      Use <a href="https://github.com/bpmn-io/dmn-js">dmn-js</a> standalone or embed it into your application.
    </p>

    <hr class="half-rule">
  </div>
</div>

<div class="bi-features">
  <div class="container">
    <h2>Add DMN diagrams to your application</h2>

    <p class="lead">
      Embed DMN diagrams and decision tables to your application with a few lines of code.
    </p>

    <pre style="text-align: left; margin: 20px auto; max-width: 500px;">{{#code 'no-pre:html'}}
<script>
  var viewer = new DmnJS({ container: 'body' });

  viewer.importXML(dmnXML, function(err) {

    if (err) {
      console.log('error rendering', err);
    } else {
      console.log('rendered');
    }
  });
</script>
{{/code}}</pre>

    <hr class="half-rule">

  </div>
</div>


<div class="bi-features">
  <div class="container">
    {{> about_teaser }}
  </div>
</div>

<link rel="stylesheet" href="{{ assets }}/js/highlight/css/github.css" />