---
layout: bare.hbs
---

<div class="announcement" style="
    background: #404040;
    color: white;padding: 20px; text-align: center">
  We are replacing our graphical tooling with a chat-based, conversational, AI-powered solution. <a href="https://bpmn.io/blog/posts/2023-the-future-is-chat.html" style="color: white !important">Learn more</a>.
</div>

<!-- navbar -->
{{> navbar }}

<!-- page content -->
{{> body }}

<!-- footer -->
{{> footer }}