---
layout: base.hbs
---

<div class="bi-head">
  <div class="container">

    <div class="h1">Blog</div>

    <p class="lead">
      News from the bpmn.io project
    </p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9">
      {{> body }}
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-9 bi-blog-footer">
      <a href="{{ ref '/blog/' }}">Back to blog</a>.
    </div>
  </div>
</div>


<link rel="stylesheet" href="{{ assets }}/js/highlight/css/github.css" />