<!DOCTYPE html>
<html>
<head>
  <title>{{#if title}}{{title}} | {{/if}}{{site.title}}</title>
  <meta http-equiv="refresh" content="0; url={{url}}">
</head>
<body>
  <code>Redirecting to {{url}}.</code>
</body>
</html>