/**
 * app styles
 */

p {
  line-height: 1.5em;
}

.list-group-item .label {
  margin-right: 5px;
  display: inline-block;
  vertical-align: text-top;
}

.input-xlarge {
  .input-size(@input-height-large + 8; @padding-large-vertical; @padding-large-horizontal; @font-size-large + 2; @line-height-large + 0.3; @border-radius-large);
}

.button-xlarge {
  .button-size(@padding-large-vertical; @padding-large-horizontal; @font-size-large + 2; @line-height-large + 0.3; @border-radius-large);
}

.button-xxlarge {
  .button-size(@padding-large-vertical; @padding-large-horizontal + 10px; @font-size-large + 8; @line-height-large + 0.3; @border-radius-large);
}

.btn-outline-inverse {
  .button-variant(white; @brand-primary; white);

  &:hover {
    background: white;
    color: @brand-primary;
  }
}

.btn-outline {
  .button-variant(@brand-primary; transparent; @brand-primary);

  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background-color: @brand-primary;
    border-color: @brand-primary;
  }
}

.bash-snippet{
  margin: 0.2em 0
}


.btn-xlg {
  .button-xlarge();

  margin: 5px 10px;
}

.btn-xxlg {
  .button-xxlarge();
}

.bi-front-page {

  text-align: center;

  .logo {
    margin-bottom: 20px;
  }

  .lead {
    margin: 10px auto;
  }
}

.bi-navbar {
  margin-bottom: 0;

  .navbar-toggle .icon-bar {
    background-color: @brand-primary;
  }
}

.bi-head,
.bi-masterhead {
  background: @brand-primary;
  color: #FFF;
}

.bi-product-head {
  border-top: solid 5px @brand-primary;

  text-align: center;

  padding: 50px 0 5px 0;

  .teaser {
    max-height: 450px;
    overflow: hidden;
    border-bottom: solid 1px #CCC;

    img {
      max-width: 100%;
    }
  }

  .download {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  h1, .h1 {
    font-size: 36px;
  }

  p.lead {
    font-size: 24px;
  }
}

.bi-head {

  padding: 30px 0 5px 0;

  h1, .h1 {
    font-size: 56px;
    margin-bottom: 20px;
  }

  p {
    color: lighten(@brand-primary, 50%);
  }

  p.lead {
    margin-top: -10px;
    font-size: 30px;
  }
}

.bi-product-details > div {
  text-align: center;
}

.bi-product-details {
  margin-bottom: 120px;
}

.bi-product-details .row {
  margin-top: 30px;
}

.bi-masterhead {

  .bi-front-page();

  padding-top: 80px;
  padding-bottom: 50px;

  h1 {
    font-size: 64px;
  }

  .lead {
    width: 80%;
    font-size: 30px;

    margin-bottom: 10px;
  }

  .bi-action {
    margin: 60px auto 40px auto;
    max-width: 400px;
  }

  .bi-news-note {
    font-size: 18px;
  }

  a:not(.btn) {
    color: white;

    &:hover {
      color: white;
    }
  }
}

.half-rule {
  width: 100px;
  margin: 60px auto;
}

.bi-features {
  .bi-front-page();

  padding-top: 80px;
  padding-bottom: 80px;

  h2 {
    font-size: 36px;
  }
}

.bi-register-newsletter {
  max-width: 400px;
  margin: 30px auto;

  .note {
    margin-top: 10px;
    color: #999;
  }
}

.bi-footer {
  border-top: solid 1px #eeeeee;

  margin-top: 50px;

  padding-top: 40px;
  padding-bottom: 40px;

  color: #777;

  text-align: center;

  .footer-links {
    padding: 0;

    li {
      display: inline;
      margin: 3px;
    }
  }
}

.bi-team {

  .team-member {

    text-decoration: none;
    color: #666;

    &:hover {
      color: #444;
    }

    img {
      border-radius: 5px;
      height: 40px;

      margin-right: 10px;
    }
  }
}

.bi-blogpost {
  margin-top: 80px;

  .content {
    font-size: 1.2em;
  }

  h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 30px;
  }

  .page-header {
    margin-top: 10px;
    margin-bottom: 30px;

    line-height: 1.3em;

    a:link {
      text-decoration: none;
      color: @text-color;

      &:hover {
        color: @link-hover-color;
      }
    }
  }

  &.single {
    .introduction {
      .lead();
    }
  }

  .published {
    font-weight: bold;
  }

  .meta {
    margin-top: 30px;
    border-top: dotted 1px #CCC;
    padding-top: 10px;
  }
}

.bi-img {
  text-align: center;
  margin: 20px auto;

  img {
    max-width: 300px;
    margin: 20px auto 10px auto;

    display: inline-block;
  }

  .caption {
    margin-top: 10px;
  }
}

.bi-blog-footer {
  margin: 20px 0;
}

.share {
  margin: 10px 0;
}

.shariff {

  display: inline-block;
  vertical-align: middle;

  .theme-white {

    li {
      width: auto;
      margin: 0 0 0 5px;
    }

    .shariff-button {
      /* hide share text */
      .share_text {
        width: 0px;
        overflow: hidden;
        display: inline-block;
      }

      border: none !important;
    }
  }
}

.bi-projects {

  .project {

    text-decoration: none;
    color: #666;

    &:hover {
      color: #444;
    }
  }

  .status {
    float: right;
  }
}
