/**
 * Variable overrides for bootstrap
 */

@colorBlue: #1584B4;
@colorYellow: #B49215;
@colorBlueGreen: #15B467;
@colorYellowGreen: #52B415;

@brand-primary: @colorYellowGreen;

@navbar-height: 60px;
@navbar-default-bg: White;
@navbar-default-color: #333;
@navbar-default-border: @brand-primary;
@navbar-default-link-color: #666;


@link-color: darken(@brand-primary, 5%);

@font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

@headings-font-weight: 400;