---
title: Jobs
description: 'Join our team and help us building the next generation BPMN modeling tool'
---

<style>
.job-position {
  margin-top: 40px;
}
</style>

<div class="row">

  <div class="col-md-12">
    <h1 class="page-header">Open Positions</h1>

    <p class="lead">
      A modeling notation needs great tools. We are searching for software engineers that help us building a BPMN modeler, open source and with <3 for the web.
    </p>


    <div class="job-position">

      <h2>Software Developer (Client-Side)</h2>

      <p>
        You work at <a href="http://camunda.com">Camunda</a> in Berlin and help us building the <a href="http://bpmn.io">bpmn.io</a> web modeler.
      </p>

      <h3>You should bring</h3>

      <ul>
        <li>Experience in JavaScript and <a href="https://nodejs.org">node.js</a> library and application development</li>
        <li>Good knowledge in modern web standards and state of the art application development (HTML5, CSS, SVG, ...)</li>
        <li>Passion for usability and interest in user interface design</li>
        <li>Pragmatism and the ability to discuss technology</li>
        <li>Open-Source mindset / track record</li>
        <li>Knowledge about BPMN and experience with backend technologies is a plus</li>
      </ul>

      <h3>We offer you</h3>

      <ul>
        <li>Work on <a href="http://bpmn.io">bpmn.io</a> as a world wide visible open-source project</li>
        <li>Shape the way people communicate process knowledge with BPMN 2.0</li>
        <li>A great workplace, colleagues and cool goodies</li>
      </ul>

      <p>
        Check out all the good reasons to <a href="http://camunda.com/about/jobs/">work with Camunda</a>.
      </p>

      <p>
        Let us get to know you each other! Send us your CV and links to stuff you have been working on.
      </p>

      <p>
        <a class="btn btn-primary" href="mailto:jobs@camunda.com">Apply Now</a>
      </p>

    </a>

  </div>
</div>