---
title: About
description: 'Learn about the project, its creators, origins and BPMN'
---

<div class="row">

  <div class="col-md-12">
    <h1 class="page-header">History</h1>
    <p class="lead">
      Initiated by camunda, the creators of camundaBPM and Zalando, a German e-commerce champion, bpmn.io aims to bring business processes to everyone.
    </p>

    <p>
      <a href="http://camunda.com">camunda</a> is a company with a long track record in BPM. For more than five years we have been helping customers all over the world to apply business process management (BPM) in an effective way. In 2013 we launched <a href="http://camunda.org">camundaBPM</a>, an open source, extensible platform for business process automation with BPMN 2.0 and Java.
    </p>

    <p>
      An important part of our BPM vision is <a href="http://www.bpmn.org/">BPMN 2.0</a>, an established global standard for modelling business processes. First of all, it allows you to <a href="http://camunda.org/bpmn/tutorial.html">visualize business processes</a>, thus making it easier to capture, discuss and change them. Then again, it also defines a standardized file format that makes it possible to exchange modeled diagrams freely across compliant modelling tools.
    </p>

    <p>
      We believe that the full potential of BPMN can only be unleashed if people get great tooling that is free.

      <strong>Those who model</strong> should be able to create and share BPMN 2.0 processes with others &mdash; on the web and without restrictions.

      <strong>Those who develop</strong> should be able to visualize processes in their applications and enrich them with the data that is important for application users.
    </p>

    <p>
      Together with <a href="http://tech.zalando.com/">Zalando</a> we initiated <a href="http://bpmn.io">bpmn.io</a> as an effort to provide the best BPMN tools possible:
      <a href="https://github.com/bpmn-io">Open source</a> and free to use for everyone who changes people and organizations through BPMN.
    </p>
  </div>

  <div class="col-md-12">
    <h1 class="page-header">Team</h1>
    <p class="lead">
      bpmn.io is built by a small core team and supported by the camunda BPM community and its contributors.
    </p>

    <div class="list-group bi-team">

      <div class="list-group-item">
        <a class="team-member" href="https://github.com/nikku">
          <img src="https://gravatar.com/avatar/815f0690e324a70bf2facd8d82815868" alt="@nikku">
          <strong>Nico Rehwaldt</strong> <small>@nikku</small>
        </a>
      </div>

      <div class="list-group-item">
        <a class="team-member" href="https://github.com/ISO50">
          <img src="https://gravatar.com/avatar/7e95daa5430344f4b8080cc8e333b280" alt="@ISO50">
          <strong>Jörg Dotzki</strong> <small>@ISO50</small>
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <h1 class="page-header">More about BPMN</h1>
    <p class="lead">
      Resources that help you to better understand process modelling with BPMN.
    </p>

    <ul>
      <li><a href="http://camunda.org/bpmn/tutorial.html">Basic BPMN 2.0 tutorial</a></li>
      <li><a href="http://www.camunda.org/bpmn/reference.html">Reference of the all BPMN 2.0 elements</a></li>
      <li><a href="http://www.camunda.org/bpmn/examples.html">Advanced BPMN 2.0 examples and style guide</a></li>
    </ul>
  </div>
</div>