---
title: About
description: 'Learn about the project, its creators, origins and BPMN'
---

<div class="row">
  
  <div class="col-md-12">
    <h1 class="page-header">History</h1>
    <p class="lead">
      Initiated by camunda, the creators of camundaBPM and Zalando, a german e-commerce champion, bpmn.io aims to bring business processes to everyone.
    </p>
    
    <p>
      <a href="http://camunda.com">camunda</a> is a company with a long track record in BPM. Since more than five years we have been helping customers all over the world to apply business process management (BPM) in an effective way. In 2013 we launched <a href="http://camunda.org">camundaBPM</a>, an open-source, extensible platform for business process automation with BPMN 2.0 and Java. 
    </p>

    <p>
      <a href="http://www.bpmn.org/">BPMN 2.0</a> is an established global standard for modelling business processes and an important part of our BPM vision. First of all, it allows you to <a href="http://camunda.org/bpmn/tutorial.html">visualize business processes</a>, thus making it easier to capture, discuss and change them. Than again, it also defines a standardized file format that makes it possible to exchange modeled diagrams freely across compliant modeling tools.
    </p>

    <p>
      We believe that the full potential of BPMN can only be unleashed if people get great tooling that is free.
      
      <strong>Those who model</strong> should be able to create and share BPMN 2.0 processes with others: On the web and without restrictions.

      <strong>Those who develop</strong> should be able to visualize processes in their applications and enrich them with the data that is important for application users.
    </p>

    <p>
      Together with Zalando we initiated <a href="http://bpmn.io">bpmn.io</a> as an efford to make that vision come true.
    </p>
  </div>

  <div class="col-md-12">
    <h1 class="page-header">Team</h1>
    <p class="lead">
      bpmn.io is built by a small core team and supported by the camunda BPM community and its contributors.
    </p>
 
    <h2>Core Team</h2>

    <div class="list-group bi-team">
    
      <div class="list-group-item">
        <a class="team-member" href="https://github.com/Nikku">
          <img src="https://gravatar.com/avatar/815f0690e324a70bf2facd8d82815868" alt="@Nikku">
          <strong>Nico Rehwaldt</strong> <small>@Nikku</small>
        </a>
      </div>
    
      <div class="list-group-item">
        <a class="team-member" href="https://github.com/ISO50">
          <img src="https://gravatar.com/avatar/7e95daa5430344f4b8080cc8e333b280" alt="@ISO50">
          <strong>Jörg</strong> <small>@ISO50</small>
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <h1 class="page-header">More about BPMN</h1>
    <p class="lead">
      A number of resources that help you to better understand process modeling with BPMN 2.0.
    </p>
    
    <ul>
      <li><a href="http://camunda.org/bpmn/tutorial.html">Basic BPMN 2.0 tutorial</a></li>
      <li><a href="http://www.camunda.org/bpmn/reference.html">Reference of the all BPMN 2.0 elements</a></li>
      <li><a href="http://www.camunda.org/bpmn/examples.html">Advanced BPMN 2.0 examples and style guide</a></li>
    </ul>
  </div>
</div>