---
title: Project Roadmap
description: 'Stuff we plan to work on'
---

<div class="row">

  <div class="col-md-12">
    <h1 class="page-header">bpmn.io Roadmap</h1>

    <p>
      The following list is a collection of topics we plan to work on in the near future.
    </p>

    <ul class="list-group">
      <li class="list-group-item">
        <a href="https://github.com/bpmn-io/bpmn-js/milestones/013%20-%20Modelling%20Lanes">
          Modeling Lanes
        </a>
      </li>
      <li class="list-group-item">
        Modeling Data Objects
      </li>
      <li class="list-group-item">
        Standalone BPMN Modeler (With OS integration)
      </li>
      <li class="list-group-item">
        Modeling Decisions (DMN)
      </li>
    </ul>

    <p>
      Our <a href="https://github.com/bpmn-io/bpmn-js/milestones">milestone planning</a> gives
      you detailed information on what we will work on. Have a look on our <a href="https://waffle.io/bpmn-io/bpmn-js">task board</a> to learn about what we are working on right now.
    </p>

    <p>
      Feel free to give us feedback on our roadmap in our <a href="https://forum.bpmn.io">project forum</a>.
    </p>

  </div>
</div>
