---
title: Project Roadmap
description: 'Stuff we plan to work on'
---

<div class="row">

  <div class="col-md-12">
    <h1 class="page-header">bpmn.io Roadmap</h1>

    <p>
      The following list is a (possibly incomplete) collection of items on our roadmap:
    </p>

    <ul class="list-group">
      <li class="list-group-item">
        <a href="https://github.com/bpmn-io/bpmn-js/milestones/008%20-%20Manual%20Layouting%20of%20Connections">
          Manual Layouting of Connections
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://github.com/bpmn-io/bpmn-js/milestones/009%20-%20Modelling%20Collaborations">
          Modelling Collaborations
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://github.com/bpmn-io/bpmn-js/milestones/010%20-%20Morphing%20BPMN%20Elements">
          Morphing BPMN Elements
        </a>
      </li>
    </ul>

    <p>
      You may also checkout our <a href="https://github.com/bpmn-io/bpmn-js">source code repository</a>
      for a list of all <a href="https://github.com/bpmn-io/bpmn-js/issues">issues</a> we plan to work on.
    </p>

  </div>
</div>
