---
title: Project Roadmap
description: 'Stuff we plan to work on'
---

<div class="row">

  <div class="col-md-12">
    <h1 class="page-header">bpmn.io Roadmap</h1>

    <p>
      The following list is a (possibly incomplete) collection of items on our roadmap:
    </p>

    <ul class="list-group">
      <li class="list-group-item">
        Simple Process Creation (BPMN Modeler)
      </li>

      <li class="list-group-item">
        Drag and Drop (BPMN Modeler)
      </li>
      <li class="list-group-item">
        Auto Layout for Flows (BPMN Modeler)
      </li>
    </ul>

    <p>
      You may also checkout our <a href="https://github.com/bpmn-io/bpmn-js">source code repository</a>
      for a list of <a href="https://github.com/bpmn-io/bpmn-js/issues/milestones">concrete milestones</a> that lie ahead of us.
    </p>

  </div>
</div>
