---
title: Project Roadmap
description: 'Stuff we plan to work on'
---

<div class="row">

  <div class="col-md-12">
    <h1 class="page-header">bpmn.io Roadmap</h1>

    <p>
      The following list is a collection of topics we plan to work on in the near future.
    </p>

    <ul class="list-group">
      <li class="list-group-item">
        <a href="https://github.com/bpmn-io/bpmn-js/milestones/011%20-%20Modelling%20Collaborations">
          Modeling Collaborations
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://github.com/bpmn-io/bpmn-js/milestones/012%20-%20Boundary%20Events">
          Boundary Events
        </a>
      </li>
      <li class="list-group-item">
        <a href="https://github.com/bpmn-io/bpmn-js/milestones/013%20-%20Modelling%20Lanes">
          Modeling Lanes
        </a>
      </li>
    </ul>

    <p>
      Our <a href="https://github.com/bpmn-io/bpmn-js/milestones">milestone planning</a> gives
      you detailed information on what we are working on right now.
    </p>

    <p>
      Feel free to give us feedback on our roadmap in our <a href="https://forum.bpmn.io">project forum</a>.
    </p>

  </div>
</div>
