name: STAGING
on:
  push:
    branches:
    - "main"
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    environment: bpmn-io-website-staging

    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 24
        cache: 'npm'
    - name: Install dependencies
      run: npm ci
    - name: Build
      env:
        BASE_URL: https://stage.bpmn.io
        GTM_KEY: ${{ secrets.GTM_KEY }}
      run: npm run all
    - name: Deploy
      uses: netlify/actions/cli@master
      with:
        args: deploy --dir=./dist --prod
      env:
        NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}